/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

h1, h2, h3, h4, h5, h6 {
    color: #333333;
    font-family: 'Nanum Gothic', sans-serif;
}

p, a, ul, ol {
    font-family: 'Nanum Gothic', sans-serif;
}

body {
    margin: 0px;
}