<div class="page-container">
  <img id="logo" src="assets/logo.svg" alt="Infopack.io logo">
  <h1 class="oneliner">Information management the open source way</h1>
  <p class="explainer">Infopack is a lightweight framework for distribution of information in an open source manner. It relies on modern workflows for collaboration and distribution of information</p>


  <div class="buttons-box">
    <div class="box" (click)="goto('https://gitlab.com/infopack/infopack-framework')">
      <div class="img-box">
        <img src="/assets/framework.svg" alt="Framework illustration" />
      </div>
      <div class="text">
        <p>The framework</p>
      </div>
    </div>
    <div class="box" (click)="goto('https://gitlab.com/infopack/infopack-cli')">
      <div class="img-box">
        <img id="cli-logo" src="/assets/cli.svg" alt="Nationella Riktlinjer BIM logo" />
      </div>
      <div class="text">
        <p>The CLI</p>
      </div>
    </div>
    <div class="box" (click)="goto('https://nationella-riktlinjer.se/')">
      <div class="img-box">
        <img src="/assets/nrb-logo.png" alt="Nationella Riktlinjer BIM logo" />
      </div>
      <div class="text">
        <p>The good example</p>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="gitlab-link">
    <img id="gitlab-logo" src="assets/gitlab-logo.png" alt="GitLab Logo">
    <a href="https://gitlab.com/infopack">/infopack</a>
  </div>
</div>
